--upgrade
crewai-tools==latest_version_number
streamlit
python-dotenv==1.0.0
Pillow==10.0.1
crewai
langchain-openai
langchain
langchain-core
openai==1.30.5
pydantic==2.7.4
requests==2.31.0
typing-extensions==4.7.1
